.header {
  position: fixed;
  top: 1rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  padding: 0 1rem;
  z-index: 100;

  /* TODO use background? */
  /* background: #fff; */
  /* top: 0; */
  /* padding: 0.5rem; */
}

.title,
.date {
  font-family: athelas, georgia, serif;
  font-size: 1.25rem;
  line-height: 1.5;
  width: 150px;
  font-style: italic;
}

.title {
  margin: 0;
  font-weight: 400;
}

.date {
  text-align: right;
  height: 30px;
  position: relative;
}

.date div {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 150px;
}

.mode {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}

@media (max-width: 600px) {
  .date {
    display: none;
  }
}
